{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Prof Waheeb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" /> 
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{% url 'home'%}" class="logo"><strong>Prof Waheeb</strong></a>
									<ul class="icons">
										
										<li><a href="https://www.facebook.com/saber.waheeb.7" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										
									</ul>
								</header>
							
									 
									  

							<!-- Content -->
								<section>
									<header class="posts">
									
										<h1>Biography </h1>
									
										
										
									</header>   
									<p> <ul>
										<h2> 
											General Information
										</h2>
										<li>
											<p>
												Medical Doctorate in Surgery, University of Alexandria, July 1996, thesis: ‘The Use of Laser in Pediatric Surgery.’ Master in Surgery, University of Alexandria, 1988, very good, thesis: ‘Incidence of Postoperative Wound Infection in Pediatric Surgical Unit’ MBBC, University of Alexandria, November 1983, very good with honor. Assistant Professor of Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 27/11/2001 till 28/11/2006. Professor of Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 28/11/2006 till now. Head of pediatric surgery Department _ Main university hospital and Elshatby hospital ,from 11/2013 till 11/2016
	
											</p>
										</li>
										<hr>
										<br>
										<img class="image" style = ' float: center;
										padding: 0 0 1em 1.5em;
										top: 0.25em; ' src="static/images/doc1.jpg" alt="image doc saber">
										<h2>
											Scientific Certificates 
										</h2>
										
										<li>
											<p>
												Medical Doctorate in Surgery, University of Alexandria, July 1996, thesis: ‘The Use of Laser in Pediatric Surgery.’

Master in Surgery, University of Alexandria, 1988, very good, thesis: ‘Incidence of Postoperative Wound Infection in Pediatric Surgical Unit’

MBBC, University of Alexandria, November 1983, very good with honor.
											</p>
										</li>
									<hr>
										<br>
										<img class="image" style = ' float: center;
										padding: 0 0 1em 1.5em;
										top: 0.25em; ' src="static/images/doc2.jpg" alt="image doc saber">
										<hr>
										<h2>
											Employment History
										</h2>
										<li>
											<P>
												House Officer in Alexandria Main University Hospitals, from 1/3/1984 till 28/2/1985.
											</P>
										</li>
										<li>
											<P>
												Resident in Pediatric Surgery Unit, Department of Surgery, Alexandria Main University Hospital, from 5/6/1985 till 4/6/1988.
											</P>
										</li>
										<li>
											<P>
												Senior Registrar in Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 12/1/1988 till 4/1/1989.
											</P>
										</li>
										<li>
											<P>
												Assistant Lecturer in Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 5/1/1989 till 1/7/1996
											</P>
										</li>
										<li>
											<P>
												Membership of Joint Supervision from 1991 till 1993 , Faculty of Medicine (Benjamin Franklin now) – Berlin University – Germany.
											</P>
										</li>
										<li>
											<P>
												Associate Fellowship of Medical Laser Institute ,Berlin , Faculty of Medicine of Stieglitz, Berlin University, from 2/9/1991 till 2/10/1993
											</P>
										</li>
										<li>
											<P>
												Lecturer in Pediatric Surgery Unit and General Surgery, Faculty of Medicine, Alexandria University, from July1996 till 27/11/2001.
											</P>
										</li>
										<li>
											<P>
												Assistant Professor of Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 27/11/2001 till 28/11/2006.
											</P>
										</li>
										<li>
											<P>
												Professor of Pediatric Surgery Unit, Faculty of Medicine, Alexandria University, from 28/11/2006 till now.
											</P>
										</li>
										<li>
											<P>
												Head of pediatric surgery Department _ Main university hospital and Elshatby hospital ,from 11/2013 till 11/2016
											</P>
										</li>
									
										<hr>
										<br>
										<img  class="image" style = ' float: center;
										padding: 0 0 1em 1.5em;
										top: 0.25em; ' src="static/images/doc3.jpg" alt="image doc saber">
											<h2>
												Scientific Certificates and Postdoctoral Training
											</h2>
											

											<li>
												<P>
													Medical Doctorate in Pediatric Surgery 18/3/1994 , Stieglitz ,Free University of Berlin (Doktor Arbeit), thesis: ‘The Use of Laser in Pediatric Surgery’
												</P>
											</li>
											<li>
												<P>
													Fellowship of German Pediatric Surgery 14/9/1994, Berlin.Facharzt Fur Kinderchirurgie.
												</P>
											</li>
											<li>
												<P>
													Specialty and Practice certificate of Surgical Laser from Medical Laser Institute, Berlin, 10/7/1997, a qualifying certificate for practicing laser surgeries.
												</P>
											</li>
											<li>
												<P>
													Certificate of completing the preparation of university professors’ course 1994, September, Alexandria University.
												</P>
											</li>
											<li>
												<P>
													Certificate of completing the advanced course of pediatric Surgical Endoscopy, November 1997-The European Institute of Surgery-Hamburg-Germany.
												</P>
											</li>
											<li>
												<P>
													Certificates of completing the courses of developing the teaching staff skills (4 courses), 2005/2006
												</P>
											</li>
											


											<hr>
											<br>
											<img class="image" style = ' float: center;
										padding: 0 0 1em 1.5em;
										top: 0.25em; ' src="static/images/doc4.jpg" alt="image doc saber">

											<h2>
												The project of developing the teaching staff and the university leaders’ skills training courses (4 courses)

											</h2>

											<li>
												<P>
													1st Course: Decision making and problem solving (from 4/6/2005 till 7/6/2005)
												</P>
											</li>
											<li>
												<P>
													2nd Course: modern orientations of teaching (from 11/6/2005 till 14/6/2005)
												</P>
											</li>
											<li>
												<P>
													3rd Course: Time management and work pressure(from 24/7/2005 till 27/5/2005)
												</P>
											</li>
											<li>
												<P>
													4th Course: Selective modern issues in teaching and electronic learning (from 24/7/2005 till 27/5/2005)
												</P>
											</li>

											<hr>
											<br>
											<img class="image" style = ' float: center;
										padding: 0 0 1em 1.5em;
										top: 0.25em; ' src="static/images/doc5.jpg" alt="image doc saber">
											<ul>
												<h2>
													Academic Activities:
												</h2>
											</ul>
											<h4>
												<strong>
													Undergraduate:
												</strong>
											</h4>

											<li>
												<p>
													Participation in teaching Pediatric Surgery subject to Faculty of Medicine students –Beirut University (Lectures and clinically).
												</p>
											</li>
											<li>
												<p>
													Teaching and illustrating Pediatric Surgery set subject to Faculty of Nursing students –Alexandria University in 2005-20
												</p>
											</li>
											<li>
												<p>
													Teaching Surgery subject to Nursing School 2002.
												</p>
											</li>
											<li>
												<p>
													Teaching Pediatric subject to Nursing School 225 hours throughout the year-Pediatric department 2004/2005.

												</p>
											</li>
											<li>
												<p>
													Teaching Surgery and Pediatric subjects to the Technical Institute of Nursing students from 2003 till 2006.		
												</p>
											</li>

											<hr>

											<h4>
												<strong>
													Postgraduate:
												</strong>
											</h4>

											<li>
												<p>
													Teaching the basics and applications of laser in the exploratory surgery operation through preparation for Medical Doctorate, 4 hours for every course twice a year, starting from 1997 till 2004.
													</p>
											</li>
											<li>
												<p>
													Teaching the basics and applications of laser in the exploratory surgery operation through preparation for Medical Doctorate, 4 hours for every course twice a year, starting from 1997 till 2004.
												</p>
											</li>
											<li>
												<p>
													Participation in teaching (pediatric surgery) in the training course for the Pediatric postgraduate studies.
												</p>
											</li>


											<hr>
											<br>
											<h2>
												International Fellowships/Conferences:
											</h2>

											<li>
												<p>
													Head of the Workshop of oncology surgery in pediatrics at November 2014 in Alexandria – Alexandria pediatric surgery department
												</p>
											</li>

											<li>
												<p>
													10th Biannual conference of PAPSA /EPSA 2014 in Cairo from 10-14 November 2014
												</p>
											</li>

											<li>
												<p>
													Head of the Workshop of inguinoscrotal surgery in pediatrics at September 2014 in Alexandria – Alexandria pediatric surgery department .
												</p>
											</li>

											<li>
												<p>
													1st annual conference of Alexandria pediatric surgery and 2nd workshop of genitourinary surgery in pediatrics from 29-31 May 2014 – in Alexandria - Alexandria pediatric surgery department
												</p>
											</li>

											<li>
												<p>
													Head of the Workshop of Hypospadias (HypoAlex1) at January 2014 in Alexandria – Alexandria pediatric surgery department
												</p>
											</li> 

											<li>
												<p>
													Workshop of colorectal surgery in pediatric at September 2013 in Alexandria – Egyptian association of pediatric surgery
												</p>
											</li>
									</ul></p>
									<H1><a href="{%url 'home' %}" type="button" class="btn btn-secondary">Back</a> </H1>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							

							<!-- Menu -->
							<nav id="menu">
								<header class="major">
									<h2>Menu</h2>
								</header>
								<ul>
									<li><a href="index.html">Homepage</a></li>
									<li><a href="contact.html">Get an Appointment</a></li>
									<li><a href="elements.html">Bio</a></li>
									<li><a href="{% url 'science'%}">Scientific Publication
										</a></li>
										<li><a href="{% url 'operation'%}">operations</a></li>
												
										</ul>
										</li>
									<li><a href="#">العربية</a></li>
							
							
								</ul>
							</nav>
							


										
									
							</section>

					
								<!-- Section -->
								<section>
									
									<li class="icon solid fa-envelope"><a href="#">saberwaheeb@gmail.com</a></li>
									<br>
									<li class="icon solid fa-phone">+2 01223312938</li>
									<br>
									<li class="icon solid fa-home">7 Ali Alkhshkhany - Al Azaritah
										Shatebi, Qesm Bab Sharqi,
										<br>
										Alexandria Governorate</li>
								</ul>
							</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved. 
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts --> 
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/browser.min.js'%}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js'%}"></script>

	</body>
</html>