
{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Prof Waheeb</title>
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}"
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{% url 'home'%}" class="logo"><strong></strong>Prof Waheeb</a>
									<ul class="icons">
										
										<li><a href="https://www.facebook.com/saber.waheeb.7?fref=ts" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								
									</ul>
								</header>
								<section id="banner">
									<div class="content">
										<header>
											<h1>Prof Waheeb<br />
											</h1>
											<p>MB BCH, MSc, MD
												Prof.& Head of pediatric surgery unit. Alex.Uni.</p>
										</header>
										<p></p>
										
									</div>
									<span class="image object"> 
										<img src="{% static 'images/profile.jpg'%}" alt="" />
									</span>
								</section>
								<hr>



							
								
								<header class="major">
									<h2>Operations</h2>
								</header>
								<div class="posts">
									<article>
										<a  class="image"><img src="images/pic01.jpg" alt="" /></a>
										<h3>Sacrococcygeal teratoma</h3>
										<p>(SCT) is a rare tumor that forms at the base of a baby's tailbone or other parts of the body. SCT develops from the same type of cells that form the reproductive tissues. When these cells develop abnormally, a tumor can result.</p>
						
									</article>
									<article>
										<a  class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Parasitic Fetus “ Fetus In Fetu “</h3>
										<p> is a rare entity in which malformed parasitic twin grows inside the body of its twin. It is most commonly presented with mass in the abdomen. We present a case of a 15-year-old boy who presented with abdominal mass since infancy. Radiological investigations are suggestive of FIF.</p>
										
									</article>
									<article>
										<a  class="image"><img src="images/pic03.jpg" alt="" /></a>
										<h3>Ischo-Pagus Conjoined Twin</h3>
										<p>Ischiopagi comes from the Greek word ischio- meaning hip (ilium) and -pagus meaning fixed or united. It is the medical term used for conjoined twins (Class V) who are united at the pelvis. The twins are classically joined with the vertebral axis at 180°. However, the most frequent cases usually structures the ischiopagus twins with two separate spines forming a lateral angle smaller than 90°. The conjoined twins usually have four arms; two, three or four legs; and typically one external genitalia and anus</p>
										
									</article>
									<article>
										<a class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Hemangioma</h3>
										<p>a bright red birthmark that shows up at birth or in the first or second week of life. It looks like a rubbery bump and is made up of extra blood vessels in the skin. A hemangioma can occur anywhere on the body, but most commonly appears on the face, scalp, chest or back.</p>
										
									</article>
									<article>
										<a class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Genital Organ Tumor</h3>
										<p>Genital tumors are more accurately called germ cell tumors (germ as in germinate, or to give life, rather than as in bacteria). Germ cells are the reproductive cells found to develop into testicles for males and ovaries in females. </p>
										
									</article>
									<article>
										<a class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Gastroschesis</h3>
										<p> Gastroschisis is a birth defect of the abdominal (belly) wall. The baby's intestines are found outside of the baby's body, exiting through a hole beside the belly button. The hole can be small or large and sometimes other organs, such as the stomach and liver, can also be found outside of the baby's body.</p>
										
									</article>
									<article>
										<a  class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Exomphalos Major</h3>
										<p>Exomphalos is a weakness of the baby’s abdominal wall where the umbilical cord joins it. This weakness allows the abdominal contents, mainly the bowel and the liver to protrude outside the abdominal cavity where they are contained in a loose sac that surrounds the umbilical cord. As the contents are lying outside it, the abdominal cavity often does not develop properly and remains small in size. </p>
										
									</article>
									<article>
										<a class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Conjoined Twins From The Pelvic Region</h3>
										<p>Ischiopagus (is-kee-OP-uh-gus) twins are joined at the pelvis, either face to face or end to end. Many ischiopagus twins share the lower gastrointestinal tract, as well as the liver and genital and urinary tract organs. Each twin may have two legs or, less commonly, the twins share two or three legs. </p>
										
									</article>
									<article>
										<a class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Abdominal Tumor</h3>
										<p>An abdominal mass is an abnormal growth in the abdomen. An abdominal mass causes visible swelling and may change the shape of the abdomen. A person with an abdominal mass may notice weight gain and symptoms such as abdominal discomfort, pain, and bloating. Masses in the abdomen are often described by their location. </p>
										
									</article>
									<article>
										<a  class="image"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Congenital Anomalies Cases</h3>
										<p> The most common, severe congenital anomalies are heart defects, neural tube defects and Down syndrome. Although congenital anomalies may be the result of one or more genetic, infectious, nutritional or environmental factors, it is often difficult to identify the exact causes.</p>
										<H1><a  href="{%url 'home' %}" type="button" class="btn btn-secondary">Back</a> </H1>

									</article>
									

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

					

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="{% url 'home'%}">Homepage</a></li>
										<li><a href="{% url 'contact'%}">Get an Appointment</a></li>
										<li><a href="{% url 'bio'%}">Bio</a></li>
										<span class="opener">For Doctors</span>
										<ul>
										<li><a href="{% url 'science'%}">Scientific Publication
										</a></li>
										<li><a href="{% url 'operation'%}">operations</a></li>
												
										</ul>
										</li>
										<li><a href="#">العربية</a></li>
								
										<li>
								
									</ul>
								</nav>

				

							<!-- Section -->
							<section>
								<ul>	
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon solid fa-phone">+2 01223312938</li>
								<li class="icon solid fa-home">7 st Ali Alkhshkhany - Al Azaritah
									Shatebi, Qesm Bab Sharqi,
									<br />
									Alexandria Governorate</li>
							</ul>
						</section>

					<!-- Footer -->
						<footer id="footer">
							<p class="copyright">&copy; All rights reserverd. 
						</footer>

				</div>
			</div>

	</div>

<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js'%}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
	<script src="{% static 'assets/js/util.js'%}"></script>
	<script src="{% static 'assets/js/main.js'%}"></script>


</body>
</html>
</html>